<div class="card m-3">

  <div class="card-header">
    <div class="row">
        <p class="m-0" id="newcomment-title">
        </p>
    </div>
  </div>

  <div class="card-body">
    <form id="comment-form" data-post-id="{{id}}">
        <div class="form-group">
            <label for="new-comment">Comment:</label>
            <textarea class="form-control" id="new-comment" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary btn-block" id="add-comment">Submit</button>
    </form>
  </div>

</div>

<script src="/js/comment.js"></script>