    <div class="card mx-5 my-3">
        <a href="/edit_post/{{id}}" data-post_id="{{id}}" class="btn btn-secondary btn-lg btn-block" tabindex="-1" role="button" aria-disabled="true">
        {{title}}
        <span class="text-right">{{format_date createdAt}}</span>
        </a>
    </div>

    <script src="/js/blog-posts.js"></script>

