<div class="card m-3">

    <h5 class="card-header">Edit Post</h5>

    <div class="card-body border-dark">
        <form class="update-form" data-post_id="{{post.id}}">

            <div class="form-group">
                <label for="update-title">Title:</label>
                <input type="text" class="form-control" id="update-title" value="{{post.title}}">
            </div>

            <div class="form-group">
                <label for="update-content">Content:</label>
                <textarea type="text" class="form-control" id="update-content" rows="4">{{post.content}}</textarea>
            </div>

            <button type="button" class="btn btn-secondary btn-block update-post" name="update-post">Update Post</button>
            <br>
            <button type="button" class="btn btn-secondary btn-block delete-post" name="delete-post">Delete</button>

        </form>
    </div>
    
</div>

<script>
    dashboard = document.querySelector('#main-title').innerText = 'Your Dashboard';
</script>
<script src="/js/edit-post.js"></script>