      <div class="card mx-3">
        <h5 class="card-header">Login</h5>
        <div class="card-body border-dark">
          <form id="login-form">
            <div class="form-group">
              <label for="name">Username</label>
              <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-secondary btn-block">Login</button>
            <div class="form-group pt-3">
              <a class="link" for="signUp" href="/signup">Sign up instead!</label>
            </div>
          </form>
        </div>
      </div>

<script src="/js/login.js"></script>

