      <div class="card mx-3 border-dark">
        <h5 class="card-header">Sign Up</h5>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="username" class="form-control" id="exampleInputUsername" aria-describedby="usernameHelp">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-secondary btn-block">Sign Up</button>
            <div class="form-group pt-3">
              <a class="link" for="signUp" href="./signup.html">Login instead!</label>
            </div>
          </form>
        </div>
      </div>

<script src="./js/login.js"></script>
