      <div class="card mx-3">
        <h5 class="card-header">Sign Up</h5>
        <div class="card-body border-dark">
          <form id="signupForm">
            <div class="form-group">
              <label for="name">Username</label>
              <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-secondary btn-block">Sign Up</button>
            <div class="form-group pt-3">
              <a class="link" for="login" href="/login">Already signed up? Login instead!</label>
            </div>
          </form>
        </div>
      </div>

<script src="/js/signup.js"></script>
