:root {
  /* tech-blog assignment color palette */
  --seaGreen: #d1e6c9;
  --hoverGreen: #63db71;
  --dark: #1a0d0d;
  --gray: #898989;
  --white: #FFFFFF;

  /* preferred color palette */
  --frost: #F2F1EF;
  --darkgrey: #B1A6A4;
  --steelblue: #697184;
  --frostgrey: #D8CFD0;
  --darkish: #413F3D;  

  /* mangrove color palette */
  --mangrove: #D48166;
  --darkgrove: #373A36;
  --greygrove: #E6E2DD;

  /* qvartz palette */
  --salmon: #EE7879;
  --navy: #2a3166;
  --pink: #f4abaa;
  --teal: #cae7df;

}


body {
  font-family: Roboto, sans-serif;
  color: var(--navy);
  background-color: var(--pink);
}

nav {
  color: var(--teal);
  background-color: var(--navy);
}


/* nav-link colors */
.nav-link {
  color: var(--pink);
}

.nav-link:hover {
  color: var(--salmon);
}

#header {
  color: var(--pink);
  background-color: var(--navy);
  padding-bottom: 20px;
}

#main-title {
  color: var(--navy);
  background-color: var(--pink);
  border-radius: 15px;
  box-shadow: 5px 7px var(--teal);
}

/* Card */

.card {
  color: var(--navy);
  background-color: var(--teal);
  border-width: ;
}

.card-header {
  color: var(--pink);
  background-color: var(--navy);
}