:root {
  --seaGreen: #d1e6c9;
  --hoverGreen: #63db71;
  --dark: #1a0d0d;
  --gray: #898989;
  --white: #FFFFFF;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--dark);
  background-color: var(--seaGreen);
}

nav {
  color: var(--seaGreen);
  background-color: var(--dark);
}


/* nav-link colors */
.nav-link {
  color: var(--seaGreen);
}

.nav-link:hover {
  color: var(--hoverGreen);
}

#header {
  color: var(--seaGreen);
  background-color: var(--dark);
  padding-bottom: 20px;
}

#main-title {
  color: var(--dark);
  background-color: var(--seaGreen);
  border-radius: 15px;
  box-shadow: 5px 7px var(--gray);
}

.home-title {
  font-size: 3rem;
  color: white;
  background-color: #333;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 5px 7px lightgray;
}